.nav-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav {
  display: flex;
  align-items: flex-start;
}
.nav-logo {
  width: 150px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-style: italic;
 
}

.nav-link:hover {
  color: #5581ad;
  border-color: #4184b8;
}

.navbar a.nav-link {
  font-style: normal;
  color: #000;
 transition: color 0.3s;
 
}

.navbar a.nav-link:hover {
  color: #87ceeb;
 
}

.navbar .nav-icon {
  margin-right: 0.5rem;
 
}

/*Home*/

.shop-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #937d5d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #FFCC33;
}

/*log in */

.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
}

.input-box {
  margin-bottom: 10px;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 10px;
}



/*products*/
.card-img-top{

  width: 200px;
  height: 200px;
  object-fit: contain;
}

.product-image {
  transition: transform 0.2s;
  
}

.product-image:hover {
  transform: scale(1.1);
  
}

/*single product*/

.product-container {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    width: 100vw; 
    height: 100vh;
    overflow: hidden; /* Hide horizontal scrollbars if any */
}

.product-image img {
    max-width: 50%; /* Make the image occupy 50% of the container width */
    height: auto;
    border: none;
     
}

.product-info {
    padding-left: 20px;
    width: 50%; /* Make the info section occupy 50% of the container width */
    box-sizing: border-box; /* Include padding in the width calculation */
    height: 100%; /* Match the height of the container */
    overflow: auto; /* Add vertical scroll if content overflows */
}

.product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-rating {
    color: #888;
}

.product-rating p {
    margin: 5px 0;
}

/*shop*/
.link-style {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(67, 114, 121);
  font-size:medium;
}
  

.link-style:hover {
    text-decoration: underline;
    color: rgb(28, 29, 29);
     
    }


   