.nav-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav {
  display: flex;
  align-items: flex-start;
}
.nav-logo {
  width: 150px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
  border: 1px solid transparent;
  padding: 8px 12px;
  font-style: italic;
  /* Make the font italic */
}

.nav-link:hover {
  color: #ff9900;
  border-color: #ff9900;
}

/*Home*/

.shop-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #937d5d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.shop-button:hover {
  background-color: #FFCC33;
}